.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(61, 61, 61, 0.3);
}

.modal__container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  padding: 18px 16px 18px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 11px;
}

.modal__header {
  display: flex;
  justify-content: space-between;
}

.contactInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contactImg {
  display: inline-block;
  margin: 0 auto 14px;
  color: rgb(81, 80, 80);
  border-radius: 50%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  gap: 10px;
  color: #007aff;
  border: none;
  background-color: transparent;
}

input {
  display: block;
  border: none;
  outline: none;
  width: 250px;
  height: 22px;
  padding: 0 20px 0;
  background-color: rgb(227, 221, 221);
}

textarea {
  border-radius: 5px;
  outline: none;
  border: none;
  width: 250px;
  padding: 0 20px 0;
  background-color: rgb(227, 221, 221);
}
